@import "font-face";

$breakpoints: (
    small: 540px,
    medium: 720px,
    large: 960px,
    xlarge: 1140px,
    xxlarge: 1320px
);

$spacing-values: (
    0: 0,
    1: 4px,
    2: 8px,
    3: 12px,
    4: 16px,
    5: 20px,
    6: 24px,
    7: 28px,
    8: 32px,
    9: 36px,
    10: 40px,
    11: 44px,
    12: 48px,
    13: 52px,
    14: 56px,
    15: 60px,
    16: 70px,
    17: 80px,
    18: 90px,
    19: 100px,
    20: 110px,
    21: 120px,
);

$primary-theme: #39CDCC;
$secondary-theme: #213F7D;

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @each $breakpoint, $width in $breakpoints {
        @media (min-width: $width) {
            max-width: $width;
        }
    }
}

// mt-[] marging top
@each $key, $value in $spacing-values {
    .mt-#{$key} {
        margin-top: $value;
    }
}

// mr-[] marging right
@each $key, $value in $spacing-values {
    .mr-#{$key} {
        margin-right: $value;
    }
}

// ml-[] marging left
@each $key, $value in $spacing-values {
    .ml-#{$key} {
        margin-left: $value;
    }
}

// mb-[] margine-bottom
@each $key, $value in $spacing-values {
    .mb-#{$key} {
        margin-bottom: $value;
    }
}

// fs-[] font-size
@each $key, $value in $spacing-values {
    .fs-#{$key} {
        font-size: $value;
    }
}

// py-[] padding Y-axis
@each $key, $value in $spacing-values {
    .py-#{$key} {
        padding-bottom: $value;
        padding-top: $value;
    }
}

// px-[] padding X-axis
@each $key, $value in $spacing-values {
    .px-#{$key} {
        padding-left: $value;
        padding-right: $value;
    }
}

// gap-[] gap, can be used in flex box or grid container
@each $key, $value in $spacing-values {
    .gap-#{$key} {
        gap: $value;
    }
}

.w-100 {
    width: 100%;
}

.d-block {
    display: block;
}

// colors
.text-primary {
    color: $primary-theme;
}

.text-secondary {
    color: $secondary-theme;
}

.text-gray {
    color: #545F7D;
}

.bg-primary {
    background-color: $primary-theme;
}

// Typography styles ----------------------------------------------------------------

.font-light {
    font-family: $avenir-font;
    font-weight: 300 !important;
}

.font-regular {
    font-family: $avenir-font;
    font-weight: 500 !important;
}

.font-semibold {
    font-family: $avenir-font;
    font-weight: 600 !important;
}

.font-bold {
    font-family: $avenir-font;
    font-weight: 700 !important;
}

.font-heavy {
    font-family: $avenir-font;
    font-weight: 900 !important;
}

.avenir {
    font-family: $avenir-font;
}

// ----------------------------------------------------------------


.bold {
    font-weight: 900;
}

.semibold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

.text-small {
    font-size: 14px;
}

.uppercase {
    text-transform: uppercase;
}

// flexbox styles
.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-10px {
    gap: 10px;
}