@import '../styles/utilities';

.users-card-container {
    display: flex;
    align-items: center;

}

.index-container {
    h3 {
        color: #213F7D;
        font-size: 24px;
        font-weight: 600;
    }
}

.index-users-table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
    box-shadow: 0 10px 8px #d1d1d13c;
    border-radius: 3px;
    border: 1px solid #f2f3f7;

    th,
    td {
        text-align: left;
        padding: 16px;
    }

    th {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #545F7D;
    }

    td {
        color: #545F7D;
        font-size: 14px;
        font-weight: 400;
        border-bottom: 1px solid #E9ECF2;
    }
}


@media screen and (max-width: 800px) {
    .users-card-container {
        display: block;
    }
}