@import "components/routes/styles/login.scss";
@import "components/routes/styles/dashboard.scss";
@import "components/layouts/styles/root.scss";
@import "components/layouts/styles/sidebar.scss";
@import "components/routes/users/users.scss";

body {
  font-family: sans-serif;
  background: #FBFBFB;
  margin: 0;
}

.dashboard-card {
  padding: 20px 30px;
  width: 220px;
  box-shadow: 0 10px 8px #d1d1d13c;
  border: 1px solid #F2F3F7;
  border-radius: 2px;
  background: #fff;
  flex: 1;

  .dashboard-card-description {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #545F7D;
    margin: 15px 0;
  }

  .dashboard-card-data {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    color: #213F7D;
  }
}

.user-status {
  padding: 7px 15px;
  border-radius: 20px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: 400;
}

.active-status {
  background-color: #F3FCF6;
  color: #39CD62
}

.pending-status {
  background-color: #FDF7E5;
  color: #E9B200;
}

.blacklist-status {
  background-color: #FCE6EB;
  color: #E4033B;
}

.inactive-status {
  background-color: #F9F9F9;
  color: #545F7D;
}

#pagination {
  position: sticky;
  bottom: 0;
  background: #FBFBFB;
  padding-top: 15px;
  padding-bottom: 15px;

  .pagination-detail {
    color: #545F7D;
    font-weight: 400;
    font-size: 14px;

    .pagination-size {
      background: #E5E8EE;
      border-radius: 4px;
      margin: 0 10px;
      font-weight: 600;
      color: #213F7D;
    }
  }

  .pagination-count {
    a {
      display: inline-block;
      margin: 0 15px;
      font-size: 14px;
      color: #979DAF;
      text-decoration: none;
    }

    .active {
      color: #545F7D !important;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 800px) {
  .dashboard-card {
    width: auto;
  }
}